<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>OnlineShop - Confirmation</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <%- include('header'); -%>
  <main>
    <article>
      <h1>Votre commande est confirmée <%-name%>!</h1>
      <p>Votre numéro de confirmation est le <strong id="confirmation-number"><%-id%></strong>.</p>
    </article>
  </main>
  <%- include('footer'); -%>
  <%- include('scripts'); -%>
</body>
</html>
