<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>OnlineShop - Panier</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
  <%- include('header'); -%>
  <main>
    <article>
      <h1>Panier</h1>
      <div id="shopping-cart-container">
        <% if (cart.length == 0) { %>
          <p>Aucun produit dans le panier.</p>
        <%} else {%>
          <table class="table shopping-cart-table">
            <thead>
              <tr>
                <th></th>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody>
              <% cart.forEach(function(item) { %>
                <tr data-product-id=<%-item.productId%>>
                  <td><button class="remove-item-button"><i class="fa fa-times"></i></button></td>
                  <td><%- item.product.name %></td>
                  <td><%- item.product.price %></td>
                  <td>
                    <div class="row">
                      <div class="col">
                        <button class="remove-quantity-button" disabled=""><i class="fa fa-minus"></i></button>
                      </div>
                      <div class="col quantity"><%- item.quantity %></div>
                      <div class="col">
                        <button class="add-quantity-button"><i class="fa fa-plus"></i></button>
                      </div>
                    </div>
                  </td>
                  <td class="price"><%- item.product.price * item.quantity %></td>
                </tr>
              <%});%>
            </tbody>
          </table>
          <p class="shopping-cart-total">Total: <strong id="total-amount"></strong></p>
          <a class="btn pull-right" href="/commande">Commander <i class="fa fa-angle-double-right"></i></a>
          <button class="btn" id="remove-all-items-button"><i class="fa fa-trash-o"></i>&nbsp; Vider le panier</button>
          <%}%>
      </div>
    </article>
  </main>
  <%- include('footer'); -%>
  <%- include('scripts'); -%>
</body>
</html>
